<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <!-- head -->
  <%- include('head') %>
  <!-- body of the page -->
  <body id="page-top">
    <div id="wrapper">
      <!-- side navbar -->
      <%- include('side-navbar') %>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <!-- top navbar -->
          <%- include('top-navbar.ejs') %>
          <div class="container-fluid">
            <!-- dashboard hero -->
            <%- include('hero.ejs') %>
            <div class="row">
              <!-- percentage of individual subjects/entries -->
              <%- include('percentGraph.ejs') %>
              <!-- checkbox list to select individual subjects/entries -->
              <%- include('checkList.ejs') %>
              <!-- attendance log -->
              <%- include('log.ejs') %>
            </div>
          </div>
        </div>
        <%- include('footer') %>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
