<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
  <!-- head -->
  <%- include('common/head') %>
  <!-- body of the page -->
  <body id="page-top">
    <div id="wrapper">
      <!-- side navbar -->
      <%- include('common/side-navbar') %>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <!-- top navbar -->
          <%- include('common/top-navbar') %>
          <div class="container-fluid">
            <!-- dashboard hero -->
            <%- include('dashboard/hero') %>
            <div class="row">
              <!-- percentage of individual subjects/entries -->
              <%- include('dashboard/percentGraph') %>
              <!-- checkbox list to select individual subjects/entries -->
              <%- include('dashboard/checkList') %>
              <!-- attendance log -->
              <%- include('dashboard/log') %>
            </div>
          </div>
        </div>
        <%- include('common/footer') %>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
